<div class="imprint">
    <h1>Impressum</h1>

    <p>Idir Belkacem<br />
    Feldweg 15a<br />
    26802 Moormerland</p>

    <h2>Kontakt</h2>
    <p>Telefon: 004915252822540<br />
    E-Mail: idir.bylka@yahoo.co.uk</p>

    <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
</div>
