@* <div class="myExperience">
  <h1 class="mb-4 fw-bold">My Experience</h1>
  <p class="lead mb-5">Here you can find my professional experience.</p>

  <div class="mb-5">
    <h3 class="fw-bolder mb-1">Vogel Media GmbH</h3>
    <p class="text-muted fst-italic mb-2">Leer, Niedersachsen, Deutschland</p>
    <p><strong>Since June 2024 – Present</strong><br />
      Software Developer<br /></p>

    <p class="mb-5 mt-5">
      <em>Full-time</em> – January 2025 – Present<br />
      <em>Part-time</em> – August 2024 – November 2024<br />
      <em>Part-time Internship</em> – June 2024 – August 2024
    </p>

    <ul class="list-unstyled ps-3">
      <li>• Sole responsibility for developing a custom web application for project and task management for a company specializing in document digitization</li>
      <li>• Implementation of interactive, scalable user interfaces with Vue.js (Composition API) to support barcode scanning, real-time time tracking, and workflow automation</li>
      <li>• Development of nested data structures to model complex processes — from document capture to delivery</li>
      <li>• Integration of Firebase/Firestore for real-time data processing, authentication, and persistent data storage</li>
      <li>• Connection to the Lexoffice API for automated cost calculation and invoicing</li>
      <li>• User management with role-based authentication</li>
      <li>• Development and maintenance of Contao CMS websites with focus on accessibility, performance, and SEO</li>
      <li>• Close collaboration with IT and marketing teams to implement digital tools for internal and external processes</li>
    </ul>
  </div>
</div> *@
