@{
    ViewData["Title"] = "Home Page";
}

<div class="homepage-starter">
    <div class="row mt-5">
        <div class="col-6">
            <div class="text">
                <h1 class="fw-bold">Hi, I’m Idir</h1>
                <p class="fs-5">A passionate and adaptable Software Developer</p>
                <p class="intro-text">Versatile and hands-on with experience in developing modern web applications both on the frontend and backend. Solid knowledge of object-oriented programming with C# and Python, combined with confident use of .NET environments, Vue.js, as well as common web and database technologies.</p>
                <a asp-action="" class="btn btn-outline-success">Contact Me</a>
            </div>
        </div>
        <div class="col-6">
            <img style="width: 550px; height: auto;" src="~/images/homepage-picture.png" alt="Homepage picture of Idir" />
        </div>
    </div>
</div>


