
.about-me[b-b63gsz8vkx] {
    margin-top: 150px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}
.call-for-action[b-b63gsz8vkx] {
    color: #34d298;
    text-decoration: none;
}



